* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

:root {
  --secondary-background: #012168;
  --primary-background: #0070cd;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}
p {
  font-weight: 700;
  line-height: 1.5em;
}

.bysa__logo_fill {
  fill: var(--primary-background);
}

.bysa__logo_border {
  fill: #ffffff;
}

/* --------------- */
/* PANTALLA MOBILE */
/* --------------- */

/* CLASES GENERICAS */
.text-center {
  text-align: center;
}
.hide-mobile {
  display: none !important;
}

.image_container {
  display: none !important;
}

.ag-format-container {
  width: 100%;
  padding: 1em 1em 2em 1em;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.ag-cards_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.ag-cards_item {
  min-height: 279px;
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
}

.ag-cards-item_link {
  min-height: 279px;
  text-decoration: none;
  display: block;
  padding: 30px 20px;
  background-color: #0070cd;

  overflow: hidden;

  position: relative;
}
.ag-cards-item_link:hover,
.ag-cards-item_link:hover .ag-cards-item_date {
  text-decoration: none;
  color: #fff;
}
.ag-cards-item_link:hover .ag-cards-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-cards-item_title {
  user-select: none;
  min-height: 87px;
  margin: 0 0 25px;

  overflow: hidden;

  font-weight: bold;
  font-size: 30px;
  color: #fff;

  z-index: 2;
  position: relative;
}
.ag-cards-item_date-box {
  font-size: 18px;
  color: #fff;

  z-index: 2;
  position: relative;
}

.ag-cards-item_bg {
  height: 128px;
  width: 128px;
  background-color: #012168;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media only screen and (max-width: 979px) {
  .ag-cards_item {
    -ms-flex-preferred-size: calc(50% - 30px);
    flex-basis: calc(50% - 30px);
  }
  .ag-cards-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }
}
@media only screen and (max-width: 639px) {
  .ag-cards_item {
    height: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-cards-item_title {
    min-height: 72px;
    font-size: 24px;
  }
  .ag-cards-item_link {
    height: 100%;
    padding: 22px 40px;
  }
  .ag-cards-item_date-box {
    font-size: 16px;
  }
}

/* HEADER */
.header {
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(assets/Isologo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
  background-attachment: fixed;
  position: relative;
  padding: 1.5em;
}
.header::before {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 100%;
  height: 100%;
}
.header__content {
  color: #fafafa;
  z-index: 10;
}

.header__img {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

/*Button scroll header*/
#seccionAnimada a {
  padding-top: 20%;
  display: block;
}

#seccionAnimada a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -24px;
  border-left: 1px solid #0070cd;
  border-bottom: 1px solid #0070cd;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 2s infinite;
  animation: sdb05 2.5s infinite;
  box-sizing: border-box;
}

.animacion a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.animacion a:hover {
  opacity: 0.5;
}

/*parallax*/
.parallax {
  padding: 1em;
  background-image: url("assets/parallax.jpg");
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SECTION */
.section {
  width: 100%;
  padding: 1em 1em 2em 1em;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.section h2 {
  margin-bottom: 1.5em;
}

/* NAV__MENU */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
}
.top_-100 {
  top: -100%;
}
.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: 500ms;
  position: absolute;
  right: 0px;
  width: 100%;
}
.nav__menu_container {
  position: relative;
  transition: 500ms;
  opacity: 0;
  user-select: none;
  visibility: hidden;
}
.nav__menu {
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--secondary-background);
  padding-bottom: 0.5em;
}
.nav__menu li {
  display: inline-block;
}

.nav__menu li a {
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
  user-select: none;
}
.nav__menu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav__menu li hr {
  border: none;
  margin-top: 0.5em;
}
/* logica - boton menu mobile */
#menu__btn_toggle {
  display: none;
}
#menu__btn_toggle:checked ~ .menu__btn_toggle_hamb span {
  transform: rotate(45deg);
  transition: 500ms cubic-bezier(0, 0, 0.1, 1.1);
}
#menu__btn_toggle:checked ~ .menu__btn_toggle_hamb span::before {
  opacity: 0;
}
#menu__btn_toggle:checked ~ .menu__btn_toggle_hamb span::after {
  transform: rotate(90deg);
  top: 0;
}
#menu__btn_toggle:checked ~ .nav__menu_container {
  opacity: 1;
  user-select: initial;
  visibility: visible;
}
.menu__btn_toggle_hamb {
  font-size: 24px;
  position: relative;
  background-color: var(--secondary-background);
  width: 2em;
  height: 2em;
  display: block;
  cursor: pointer;
}
.menu__btn_toggle_hamb span {
  position: absolute;
  top: 45%;
  left: 15%;
  height: 3px;
  width: 70%;
  transition: 500ms cubic-bezier(0, 0, 0.1, 1.1);
  background-color: white;
  display: block;
}
.menu__btn_toggle_hamb span::before,
.menu__btn_toggle_hamb span::after {
  content: "";
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
}
.menu__btn_toggle_hamb span::before {
  top: 0.5em;
}
.menu__btn_toggle_hamb span::after {
  top: -0.5em;
}

/* SECTION_PRESENTACION*/
.about_us__container {
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
}
.about_us {
  list-style: none;
  max-width: 800px;
  padding: 0 1em;
}
.about_us li {
  display: flex;
  align-items: center;
}
.about_us__border {
  height: 100%;
  padding-left: 2em;
  margin-left: 1em;
  border-left: 3px solid #300000;
  display: flex;
  position: relative;
  padding-top: 0.7em;
}
.about_us li:last-child .about_us__border {
  border-left: 3px solid transparent;
}
.about_us .about_us__icon {
  position: absolute;
  left: -1.6em;
  top: 0;
  border: 2px solid #300000;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.about_us h3 {
  font-size: 2em;
  margin-bottom: 3em;
}

/*SECTION_NUESTRO_PROPÓSITO*/
.proposito__container {
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
}
.proposito {
  list-style: none;
  padding: 0 1em;
}
.proposito li {
  max-width: 800px;
  display: flex;
  align-items: center;
}

.quote {
  background-color: #fafafa;
  padding: 1em;
  border-radius: 0.5em;
}

.proposito blockquote {
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid #012168;
  font-style: italic;
  font-size: var(--size-step-1);
}

.li_second_titlte {
  font-size: 1.5em;
}

.li_second_proposito {
  border: 3px solid #0070cd;
  padding: 1em;
  border-radius: 3px;
  background-color: #fafafa;
  margin-top: 2em;
  font-weight: 700;
}

.proposito h3 {
  font-size: 2em;
  margin-bottom: 3em;
}

.proposito_cursiva {
  font-style: italic;
}

/* SECTION_SERVICIOS_CARDS*/
.section_servicios {
  margin-top: 2em;
  width: 100%;
  padding: 1em 1em 2em 1em;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.servicios__container {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
}
.servicios {
  list-style-type: circle;
  max-width: 800px;
  padding: 0 1em;
}

.servicios ul {
  list-style-type: circle;
}
.servicios li {
  list-style-type: circle;
  display: flex;
  align-items: center;
}

.servicios p {
  font-size: 1em;
}

.servicios h3 {
  font-size: 2em;
  margin-bottom: 3em;
}

.servicios__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 1em;
  text-align: center;
}

.div1 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 2 / 1 / 3 / 2;
}
.div3 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 3 / 1 / 4 / 2;
}
.div4 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 4 / 1 / 5 / 2;
}
.div5 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 5 / 1 / 6 / 2;
}
.div6 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 6 / 1 / 7 / 2;
}
.div7 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 7 / 1 / 8 / 2;
}
.div8 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 8 / 1 / 9 / 2;
}
.div9 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 9 / 1 / 10 / 2;
}
.div10 {
  display: list-item;
  margin-left: 1.3em;
  list-style-type: circle;
  grid-area: 10 / 1 / 11 / 2;
}

@media only screen and (max-device-width: 1366px) {
  .header {
    background-attachment: scroll;
  }
}

/*CONTACT*/
/* SECTION__CONTACTO */
.section__contacto {
  padding-bottom: 2em;
}

.section__contacto h2 {
  margin-bottom: 0px;
}

/* CONTACT__WRAPPER */
.contacto__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTACT__FORM */
.contact__from {
  margin-top: 1em;
  text-align: center;
}
.contact__from textarea,
.contact__from input[type="text"] {
  margin-bottom: 0.5em;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #666666;
  padding-bottom: 0.2em;
  color: #333333;
}
.contact__from textarea:focus,
.contact__from input[type="text"]:focus {
  border-bottom: 1px solid #000000;
  color: #000000;
}
.contact__from textarea {
  margin-top: 1em;
  resize: vertical;
  min-height: 15em;
}
.contact__from input[type="submit"] {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  font-size: bold;
  box-shadow: 0 0 5px #dddddd;
}

/* CONTACT__WIDGET */
.contact_widget__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}

.contact_widget {
  display: inline-block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
}

.contact_widget .widget_icon {
  font-size: 2em;
  text-align: center;
  color: #300000;
}

.contact_widget .widget_text {
  font-size: 0.75em;
  color: #300000;
  text-decoration: none;
}

.footer-social-icon {
  width: 1.5em;
  padding: 0.3em;
}
.social-icon-a {
  cursor: pointer;
  color: #bbbbbb;
  text-decoration: none;
  font-size: 1em;
  justify-self: end;
}

/* FOOTER */
.footer {
  background-color: var(--secondary-background);
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 1em;
  padding-top: 2em;
  margin-top: 3em;
}
.footer ul {
  list-style: none;
  float: left;
}
.footer p {
  color: #fafafa;
  font-size: 0.9em;
  align-content: left;
  font-weight: 500;
}
.footer-div {
  width: 100%;
  margin-bottom: 2em;
}

/* --------------- */
/* PANTALLA TABLET */
/* --------------- */
@media (min-width: 768px) {
  .header__img {
    width: 35vw;
  }

  .about_us h3 {
    margin-bottom: 0.5em;
  }
  .about_us p {
    display: block;
    margin-bottom: 2em;
  }

  .title-content {
    margin: 15% 0 0 0;
  }

  .servicios__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }
  .div6 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .div7 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .div8 {
    grid-area: 3 / 2 / 4 / 3;
  }
  .div9 {
    grid-area: 4 / 2 / 5 / 3;
  }
  .div10 {
    grid-area: 5 / 2 / 6 / 3;
  }

  /*CONTACT*/
  .contacto__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .contact_widget__container {
    margin-top: 0;
  }

  /* FOOTER */
  .footer {
    flex-direction: row;
  }

  .footer-div {
    width: 50%;
    padding-left: 1em;
  }

  .footer-div-center {
    width: 50%;
    padding-left: 1em;
  }

  .footer-div:nth-child(odd) {
    border: none;
  }
}

/* ----------- */
/* PANTALLA PC */
/* ----------- */
@media (min-width: 992px) {
  main {
    max-width: 100%;
  }
  .header {
    background-size: 40%;
  }

  .text-center-contact {
    margin-bottom: 0px;
  }
  .menu__btn_toggle_hamb {
    display: none;
  }
  .nav__menu_container {
    width: 100%;
    opacity: 1;
    visibility: visible;
  }
  .nav__menu {
    width: 100%;
    position: relative;
    top: 0;
    flex-direction: row;
    padding-right: 1em;
    border: none;
    box-shadow: none;
    background-color: #fff;
    padding-bottom: 0;
  }
  .nav__menu li a {
    display: block;
    padding: 0.5em 1em;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    color: var(--secondary-background);
    user-select: none;
    font-weight: 600;
  }

  .header {
    height: 100vh;
  }
  .hide-mobile {
    display: flex !important;
  }
  .hide-pc {
    display: none !important;
  }

  #seccionAnimada a {
    padding-top: 70px;
  }

  .about_us {
    max-width: 55%;
  }

  .about_us__container {
    width: 100%;
    flex-direction: column;
    display: -webkit-inline-box;
    padding: 1em;
  }

  .image_container {
    padding-top: 0.5em;
    width: 43%;
    display: block !important;
  }

  .slide-logo {
    width: 100%;
    display: inline;
    animation: slide-logo 3s ease 0s 1 normal forwards;
  }

  @keyframes slide-logo {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .title-content {
    margin: 36% 0 0 0;
  }

  .proposito li {
    max-width: 35%;
    display: flex;
    align-items: center;
  }

  .parallax {
    min-height: 600px;
  }

  .quote {
    padding-bottom: 3em;
  }

  .li_quote {
    right: 5%;
    position: absolute;
    z-index: 1;
  }

  .li_second_proposito {
    margin-top: 18em !important;
    margin-top: 0px;
    float: right;
    width: 25% !important;
    right: 25%;
    position: absolute;
    z-index: 2;
  }

  .contacto__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
  }

  .contact_widget__container {
    margin-top: 0;
  }

  /*Proósito*/
  .section_proposito {
    width: 100%;
  }

  .li_quote {
    float: right;
  }

  /*Servicios*/
  .ag-cards_item:last-child {
    margin-left: 488px;
  }

  .section_servicios {
    margin-top: 4em;
  }
  /*Footer*/

  .footer-div {
    width: 25%;
    text-align: center;
  }

  .footer-div-center {
    width: 25%;
    text-align: center;
    border: none;
  }

  .footer ul {
    list-style: none;
    float: none;
  }

  .footer-div:nth-child(odd) {
    padding-left: 1em;
    border-left: 1px solid #fafafa;
  }
  .footer-div:first-child {
    border: none;
  }
  .footer-div:last-child {
    border: none;
  }
}

/* ------------------ */
/* PANTALLA TV GRANDE */
/* ------------------ */
@media (min-width: 1200px) {
}

/* ----------- */
/* Animaciones */
/* ----------- */

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 2;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes margin-top_-35 {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -35%;
  }
}

@keyframes margin-top_-12 {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -14%;
  }
}

@keyframes margin-top_-55 {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -50%;
  }
}

@keyframes margin-top_-60 {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -60%;
  }
}

@keyframes margin-top_-65 {
  0% {
    margin-top: 0%;
  }
  100% {
    margin-top: -65%;
  }
}
