* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

:root {
  --secondary-background: #012168;
  --primary-background: #0070cd;
}

h1 {
  font-size: 2em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.17em;
}
h4 {
  font-size: 1em;
}
h5 {
  font-size: 0.83em;
}
h6 {
  font-size: 0.75em;
}
p {
  font-weight: 700;
  line-height: 1.5em;
}
strong {
  font-size: 1.25em;
}

.bysa__logo_fill {
  fill: var(--primary-background);
}

.bysa__logo_border {
  fill: #ffffff;
}

/* --------------- */
/* PANTALLA MOBILE */
/* --------------- */

.slide-logo {
  padding-top: 16em;
  width: 16em;
}

article {
  position: relative;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.article-body {
  padding: 24px;
  text-align: center;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #28666e;
}

.articles {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
}

@container card (min-width: 380px) {
  .article-body {
    padding-left: 0;
    text-align: center;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* CLASES GENERICAS */
.text-center {
  text-align: center !important;
  margin-bottom: 1em !important;
  font-weight: 800;
}
.hide-mobile {
  display: none !important;
}

.image_container {
  padding-top: 0.5em;
  width: 40%;
  display: block !important;
}

.imgnav {
  display: none !important;
}

.accordion-body {
  font-weight: 600;
}
/*Button scroll header*/
#seccionAnimada a {
  padding-top: 20%;
  display: block;
}

.animacion a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.animacion a:hover {
  opacity: 0.5;
}

/*parallax*/
.parallax {
  padding: 1em;
  background-image: url("assets/parallax.jpg");
  min-height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* SECTION */
.section {
  width: 100%;
  margin-top: 4em;
  padding: 1em 1em 3em 1em;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.section h2 {
  margin-bottom: 1.5em;
}

/* NAV__MENU */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 20;
}
.top_-100 {
  top: -100%;
}
.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  transition: 500ms;
  position: absolute;
  right: 0px;
  width: 100%;
}
.nav__menu_container {
  position: relative;
  transition: 500ms;
  opacity: 0;
  user-select: none;
  visibility: hidden;
}
.nav__menu {
  position: absolute;
  right: 0;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--secondary-background);
  padding-bottom: 0.5em;
  margin-bottom: 0px !important;
  padding-left: 0px !important;
}
.nav__menu li {
  display: inline-block;
}

.nav__menu li a {
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: #ffffff;
  user-select: none;
}
.nav__menu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.nav__menu li hr {
  border: none;
  margin-top: 0.5em;
}
/* logica - boton menu mobile */
#menu__btn_toggle {
  display: none;
}
#menu__btn_toggle:checked ~ .menu__btn_toggle_hamb span {
  transform: rotate(45deg);
  transition: 500ms cubic-bezier(0, 0, 0.1, 1.1);
}
#menu__btn_toggle:checked ~ .menu__btn_toggle_hamb span::before {
  opacity: 0;
}
#menu__btn_toggle:checked ~ .menu__btn_toggle_hamb span::after {
  transform: rotate(90deg);
  top: 0;
}
#menu__btn_toggle:checked ~ .nav__menu_container {
  opacity: 1;
  user-select: initial;
  visibility: visible;
}
.menu__btn_toggle_hamb {
  font-size: 24px;
  position: relative;
  background-color: var(--secondary-background);
  width: 2em;
  height: 2em;
  display: block;
  cursor: pointer;
  border-radius: 2px;
}
.menu__btn_toggle_hamb span {
  position: absolute;
  top: 45%;
  left: 15%;
  height: 3px;
  width: 70%;
  transition: 500ms cubic-bezier(0, 0, 0.1, 1.1);
  background-color: white;
  display: block;
}
.menu__btn_toggle_hamb span::before,
.menu__btn_toggle_hamb span::after {
  content: "";
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
}
.menu__btn_toggle_hamb span::before {
  top: 0.5em;
}
.menu__btn_toggle_hamb span::after {
  top: -0.5em;
}

/* SECTION_PRESENTACION*/
.about_us__container {
  display: flex;
  justify-content: center;
  align-items: unset;
  flex-direction: column;
}
.about_us {
  list-style: none;
  max-width: 800px;
  padding: 0 1em;
}
.about_us_card {
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: none;
  background: grey;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.about_us__border {
  height: 100%;
  padding-left: 2em;
  margin-left: 1em;
  border-left: 3px solid #300000;
  display: flex;
  position: relative;
  padding-top: 0.7em;
}
.about_us li:last-child .about_us__border {
  border-left: 3px solid transparent;
}
.about_us .about_us__icon {
  position: absolute;
  left: -1.6em;
  top: 0;
  border: 2px solid #300000;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.about_us h3 {
  font-size: 2em;
  margin-bottom: 3em;
}

/*SECTION_NUESTRO_PROPÓSITO*/
.section_proposito {
  width: 100%;
  height: 32em;
  padding: 3em;
  background-color: var(--secondary-background);
  color: white;
  text-align: center;
}

.li_quote {
  float: center;
  background-color: var(--secondary-background);
}

/* SECTION_SERVICIOS_CARDS*/
.section_servicios {
  margin-top: 4em;
  width: 100%;
  padding: 1em 1em 2em 1em;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.servicios {
  list-style-type: circle;
  max-width: 800px;
  padding: 0 1em;
}

.servicios ul {
  list-style-type: circle;
}
.servicios li {
  list-style-type: circle;
  display: flex;
  align-items: center;
}

.servicios p {
  font-size: 1em;
}

.servicios h3 {
  font-size: 2em;
  margin-bottom: 3em;
}

@media only screen and (max-device-width: 1366px) {
  .header {
    background-attachment: scroll;
  }
}

/*CONTACT*/
/* SECTION__CONTACTO */
.section__contacto {
  padding-bottom: 2em;
}

.section__contacto h2 {
  margin-bottom: 0px;
}

/* CONTACT__WRAPPER */
.contacto__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTACT__FORM */
.contact__from {
  margin-top: 1em;
  text-align: center;
}
.contact__from textarea,
.contact__from input[type="text"] {
  margin-bottom: 0.5em;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #666666;
  padding-bottom: 0.2em;
  color: #333333;
}
.contact__from textarea:focus,
.contact__from input[type="text"]:focus {
  border-bottom: 1px solid #000000;
  color: #000000;
}
.contact__from textarea {
  margin-top: 1em;
  resize: vertical;
  min-height: 15em;
}
.contact__from input[type="submit"] {
  margin-top: 0.5em;
  padding: 0.5em 1em;
  font-size: bold;
  box-shadow: 0 0 5px #dddddd;
}

/* CONTACT__WIDGET */
.contact_widget__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
}

.contact_widget {
  display: inline-block;
  text-align: center;
  padding: 1em;
  text-decoration: none;
  cursor: pointer;
}

.contact_widget .widget_icon {
  font-size: 2em;
  text-align: center;
  color: #300000;
}

.contact_widget .widget_text {
  font-size: 0.75em;
  color: #300000;
  text-decoration: none;
}

.footer-social-icon {
  width: 1.5em;
  padding: 0.3em;
}
.social-icon-a {
  cursor: pointer;
  color: #bbbbbb;
  text-decoration: none;
  font-size: 1em;
  justify-self: end;
}

/* FOOTER */
.footer {
  background-color: var(--secondary-background);
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding: 1em;
  padding-top: 2em;
  margin-top: 3em;
}
.footer ul {
  list-style: none;
  float: left;
}
.footer p {
  color: #fafafa;
  font-size: 0.9em;
  align-content: left;
  font-weight: 500;
}
.footer-div {
  width: 100%;
  margin-bottom: 2em;
}

/* --------------- */
/* PANTALLA TABLET */
/* --------------- */
@media (min-width: 768px) {
  .header__img {
    width: 35vw;
  }

  .about_us h3 {
    margin-bottom: 0.5em;
  }
  .about_us p {
    display: block;
    margin-bottom: 2em;
  }

  .title-content {
    margin: 15% 0 0 0;
  }

  /*CONTACT*/
  .contacto__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .contact_widget__container {
    margin-top: 0;
  }

  /* FOOTER */
  .footer {
    flex-direction: row;
  }

  .footer-div {
    width: 50%;
    padding-left: 1em;
  }

  .footer-div-center {
    width: 50%;
    padding-left: 1em;
  }

  .footer-div:nth-child(odd) {
    border: none;
  }
}

/* ----------- */
/* PANTALLA PC */
/* ----------- */
@media (min-width: 992px) {
  main {
    max-width: 100%;
  }
  .header {
    background-size: 40%;
  }

  .section_presentacion {
    margin-bottom: 0px !important;
    height: 20em;
  }

  .article-body {
    text-align: center;
  }

  .article-body p {
    font-size: 18px;
    text-align: center !important;
  }

  .article-wrapper {
    padding: 0em 2em 2em 2em;
  }

  .text-center-contact {
    margin-bottom: 0px;
  }
  .menu__btn_toggle_hamb {
    display: none;
  }
  .nav__menu_container {
    width: 100%;
    opacity: 1;
    visibility: visible;
    border-bottom: 1px solid #0070cd;
  }
  .nav__menu {
    width: 100% !important;
    position: relative !important;
    top: 0 !important;
    flex-direction: row !important;
    padding-right: 1em !important;
    border: none !important;
    box-shadow: none !important;
    background-color: #fff !important;
    padding-bottom: 0 !important;
    padding-right: 5em !important;
  }
  .nav__menu li a {
    display: block;
    padding: 0.5em 1em;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    color: var(--secondary-background);
    user-select: none;
    font-weight: 600;
  }

  .imgnav {
    display: block !important;
    content: url(assets/iconoIsologo.png);
    height: 1.8em;
    margin-top: 0.5em;
    margin-right: 79%;
    width: 2.5em;
  }

  .header {
    height: 100vh;
  }
  .hide-mobile {
    display: flex !important;
  }
  .hide-pc {
    display: none !important;
  }

  #seccionAnimada a {
    padding-top: 70px;
  }

  article {
    position: relative;
    background: #fff;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }

  .article-body {
    padding: 0em 2em 2em 2em;
    text-align: center;
  }

  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #28666e;
  }

  .articles {
    max-width: 800px;
    margin-inline: auto;
    padding-inline: 24px;
    margin-bottom: 2em;
  }

  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
  }

  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
      text-align: center;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .image_container {
    padding-top: 0.5em;
    width: 40%;
    display: block !important;
  }

  .slide-logo {
    padding-top: 2em;
    width: 100%;
    display: inline;
  }

  @keyframes slide-logo {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }

    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .title-content {
    margin: 36% 0 0 0;
  }

  .parallax {
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .quote {
    padding-bottom: 3em;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    color: white;
  }

  .li_second_proposito {
    margin-top: 18em !important;
    margin-top: 0px;
    float: right;
    width: 25% !important;
    right: 25%;
    position: absolute;
    z-index: 2;
  }

  .contacto__wrapper {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
  }

  .contact_widget__container {
    margin-top: 0;
  }

  /*Propósito*/
  .section_proposito {
    padding-top: 2em;
    width: 100%;
    height: 22em;
    background-color: var(--secondary-background);
  }

  .quote {
    padding-bottom: 3em;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }

  .li_quote {
    float: center;
    background-color: var(--secondary-background);
  }

  .section_servicios {
    padding: 1em 4em 2em 4em !important;
  }

  .accordion {
    padding-top: 1em;
  }

  /*Footer*/

  .footer-div {
    width: 25%;
    text-align: center;
  }

  .footer-div-center {
    width: 25%;
    text-align: center;
    border: none;
  }

  .footer ul {
    list-style: none;
    float: none;
  }

  .footer-div:nth-child(odd) {
    padding-left: 1em;
    border-left: 1px solid #fafafa;
  }
  .footer-div:first-child {
    border: none;
  }
  .footer-div:last-child {
    border: none;
  }
}

/* ------------------ */
/* PANTALLA TV GRANDE */
/* ------------------ */
@media (min-width: 1200px) {
}

/* ----------- */
/* Iphone */
/* ----------- */

@media only screen and (width: 375px) and (height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .section_proposito {
    height: 36em;
  }
}
@media only screen and (width: 375px) and (height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .section_proposito {
    height: 36em;
  }
}

/*iPhone 14*/
@media only screen and (width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) {
  .section_proposito {
    height: 36em;
  }
}

/*iPhone 14 Pro*/
@media only screen and (width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) {
  .section_proposito {
    height: 36em;
  }
}

/*iPhone 14 Pro Max*/
@media only screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) {
  .section_proposito {
    height: 36em;
  }
}

/* 828×1792 pixels at 326ppi */
@media only screen and (width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 2) {
  .section_proposito {
    height: 38em;
    background-color: red !important;
  }
}

/* 1242×2688 pixels at 458ppi */
@media only screen and (min-device-width: 414px) and (height: 896px) and (-webkit-device-pixel-ratio: 3) {
  .section_proposito {
    height: 38em;
    background-color: orange !important;
  }
}
